/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    padding: 30px;
}

h1 {
    font-size: 1.7em;
    line-height: 1.4em;
}

h2 {
    padding: 10px 0;
}

p {
    max-width: 700px;
    padding: 30px 0;
}

ul {
    list-style: none;
}

label,
input,
button {
    display: block;
}

input {
    padding: 5px 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
}

.inbox {
    border: 1px solid red;
    margin-bottom: 20px;

}

.primary-nav {
    background-color: beige;
}

nav a {
    text-decoration: none;
}

.active {
    font-weight: bold;
}

textarea {
    resize: none;
    overflow-y: scroll
}

.dash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 700px;
    margin: auto;
    padding: 30px 0;

}

.inbox-and-files {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    text-align: center;
    margin: 30px 0;
}

.inbox-messages ul {
    display: flex;
    justify-content: space-between;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 496px) {
    .inbox-and-files {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        padding: 30px 0;
        margin: 30px 0;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}