/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

 *{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    /* outline: 1px solid red; */
}

body{
    background-color: rgb(251, 249, 249);    
}

img {
    display: block;
    max-width: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

/* navbar */

/* media query */

/* Extra small devices (phones) */

@media only screen and (max-width: 220px) {
    .primary-nav {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    gap: 20px;
    background-color: rgb(251, 249, 249);
    padding: 20px;
    padding-right: 20px 30px;
    font-size: 1.1rem;
    color: rgb(122, 13, 15);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.logo{
    width: 100px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-family: "Montserrat";
    color: rgb(122, 13, 15);
}

nav a.active {
    font-weight: bold; 
    color: rgb(122, 13, 15);
}

.active {
    font-weight: bold;
}

/* heading */

@media only screen and (max-width: 495px) {
 .heading{
    font-size: 1.6rem;
    max-width: 290px;
 }
}

@media only screen and (min-width: 496px) {
    .heading{
        font-size: 1.8rem;
        max-width: 350px;
     }
}

@media only screen and (min-width: 600px) {
    .heading{
        font-size: 2rem;
        max-width: 450px;
     } 
}

.heading{
margin: 0 auto;
font-family: "Montserrat";
line-height: 1.7em;
color: #b55151;
font-weight: 700;
text-align: center;
padding : 50px 20px;
text-shadow: -4px -4px 9px rgba(98, 0, 0, 0.16);
}

/* HERO SECTION */

/* subheading */

.subheading {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6rem; 
    padding: 40px 20px;
}

.header-img {
    display: block;
    max-width: 100%;
    opacity: 0.7;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
}

@media only screen and (min-width: 1200px) {
    .header-flex {
        display: flex;
        flex-direction: row-reverse;
         align-items: center;         
        }
        .header-img {
              width: 50%;
        }
}

/* buttons */

@media only screen and (min-width: 495px) {
    .login-signin-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0 0 30px 0;
        max-width: 400px;
        margin: auto;  
    }
   }

.login-signin-buttons button {
    padding: 15px 25px;  
   background-color: rgb(219, 104, 104);
   border-radius: 7px;
   display: block; 
   width: 110px;
   margin: 20px auto;
   text-decoration: none;
   color:rgb(251, 249, 249);
   font-family: "Montserrat";
   font-weight: 700;
   font-size: 0.9rem;
}
.login-signin-buttons button :hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.login-signin-buttons a {
text-decoration: none;
}

ul {
    list-style: none;
}

label, input, button {
    display: block;
}

input {
    padding: 5px 20px;
    margin-bottom: 20px;
}

textarea {
    resize: none;
    overflow-y: scroll;
}