:root {
    --colour-white: #ffffff;
    --colour-black: #000000;
    --colour-grey: rgb(128, 128, 128);
    --LESSTHAN21_COLOUR: #FF0000;
    /* Red */
    --expand-button-colour: rgb(255, 116, 38);
    --colour-darkblue: #00008b;
    --attribute-colour: #b55151;
}

/* Make the placeholder italics */

::placeholder {
    color: var(--colour-black);
    font-size: 1em;
    font-style: italic;
    font-weight: 700;
    padding: 2.1em 0 0 1em;
}

.username-header {
    background-color: #282c34;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    padding: 0.1em;
    color: var(--colour-white);
}

.username-header::after {
    text-transform: none;
    content: "'s Plans";
}

.main-menu-container {
    background-color: var(--colour-grey);
    /* 15px */
    padding-right: 0.938em;
    padding-left: 0.938em;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.main-menu {
    position: relative;
}

.main-menu-items {
    margin: 0 0 0 1.25em;
    list-style: none;
    cursor: pointer;
}

.main-menu-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu-item {
    margin: 0.625em 0 0.625em 1.25em;
    padding-left: 1.25em;
    z-index: 0;
    list-style: none;
    border-radius: 3.125em;
    transition: all 1s;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-menu-date,
.main-menu-preamble {
    display: inline-block;
}

.main-menu-preamble {
    margin-right: 2em;
}

.main-menu-date {
    background-color: var(--colour-black);
    color: var(--colour-white);
    /* 100px */
    width: 6.25em;
    height: 6.25em;
    /* 50px */
    border-radius: 3.125em;
    text-align: center;
    flex: 0 0 auto;
}

.main-menu-date p {
    display: inline-block;
}

.main-menu-item:hover,
.main-menu-item:active,
.main-menu-item:focus {
    background-color: rgba(173, 195, 242, 0.25);
}

.datetime0-colour {
    background-color: #2f60b5;
}

.datetime1-colour {
    background-color: #1a7275;
}

.datetime2-colour {
    background-color: #dd980d;
}

.datetime3-colour {
    background-color: #2e939c;
}

.main-menu-description {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    font-size: 1.3em;
}

.date-and-time {
    padding-top: 1.8em;
    font-size: 1em;
}

.line1,
.line2 {
    line-height: 1.6em;
    font-size: 1.2em;
}

.line1::before {
    content: "\a";
    white-space: pre;
}

.line1::after {
    content: "\a";
    white-space: pre;
}

.new-plan-desc {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 3em;
}

button {
    border-radius: 3px;
    border: none;
    margin: 0 0.25em;
    transition: all 0.3s;
}

button:hover {
    box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
    opacity: 0.9;
}

button.delete-button {
    background: #FFFDD0;
    margin-bottom: 1.5em;
    margin-left: 2em;
    font-size: 1.3em;
    color: black;
    border: 3px solid rgb(255, 47, 127);
    padding-left: 0.8em;
}

.plans-page-style, .feedbacks-page-style {
    font-family: 'futura';
    font-size: 1.3rem;
    padding: 0 2em 2em 2em;
    background-color: var(--colour-black);
}

.display-flex {
    display: flex;
    justify-content: space-evenly;
}

.title-header,
.title-username-header,
.title-viewfeedback-header {
    background-color: #282c34;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    padding: 0em;
    color: var(--colour-white);
}

.title-username-header::after {
    text-transform: none;
    content: "'s Smart Plan";
}

.title-viewfeedback-header::after {
    text-transform: none;
    content: "'s Smart Plan Feedback";
}

.timestamp-header {
    font-size: calc(2em + 1vmin);
    font-style: italic;
}

/* 1px */
.grid-container-border, .display-flex-column-container {
    border: 0.063em solid var(--colour-white);
}

.grid-container {
    display: grid;
    grid-template-areas:
        'grid-letter grid-attribute grid-plan-entry-box grid-plan-entry-box grid-plan-entry-box grid-remaining-and-button';
    grid-template-columns: 6em 14em 3fr 8em;
    /* 10px; */
    gap: 0.625em;
    background-color: var(--colour-black);
    padding: 1em 0.625em 0em 0.625em;
}

.td-goal-letter {
    grid-area: grid-letter;
    font-size: 4em;
    color: var(--colour-white);
    text-align: center;
    padding-top: 0.2em;
}

.goal-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.2em;
}

.td-goal-attribute {
    grid-area: grid-attribute;
    font-size: 1.5em;
    padding-top: 0.4em;
    margin: 0;
    line-height: 3em;
    background-color: var(--colour-white);
    color: var(--colour-black);
    height: 83%;
}

.goal-attribute {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.4em;
}

.td-goal-text-entry {
    grid-area: grid-plan-entry-box;
}

.textarea-label {
    display: block;
    font-size: 1em;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
}

.textarea-label textarea {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding-left: 0.4em;
    width: 100%;
}

.text-area {
    width: 53em;
    margin: 0.3em;
    font-size: 1em;
}

.td-remaining-and-button {
    grid-area: grid-remaining-and-button;
    display: flex;
    gap: 1.2em;
    font-size: 1.2em;
    align-items: flex-end;
}

.td-remaining {
    grid-area: grid-remaining;
    color: var(--colour-white);
}

.td-remaining-default {
    color: var(--colour-white);
}

.td-remaining-less21 {
    /* Red */
    color: var(--LESSTHAN21_COLOUR);
}

.td-remaining-centre {
    justify-content: center;
    gap: 100px;
}

.buttons-container {
    margin-top: 1.2em;
    display: flex;
    justify-content: space-evenly;
}

/* Button 76 from https: //getcssscan.com/css-buttons-examples */

/* CSS */
.button-76 {
    background-color: #cf245f;
    background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
    border: 0;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.1rem;
    font-weight: 600;
    line-height: 1.75rem;
    padding: 1rem 1.25rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-76:hover {
    box-shadow: none;
}

.expand-button-styling, .collapse-button-styling {
        font-size: 0.6em;
        padding-bottom: 0.2em;
        padding-top: 0.5em;
       
        /* 32px */
        line-height: 2em;
}

/* Button 78 from https: //getcssscan.com/css-buttons-examples */

/* CSS */
.button-78 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01, sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .button-78 {
        padding: 19px 32px;
    }
}

.button-78:before,
.button-78:after {
    border-radius: 80px;
}

.button-78:before {
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.button-78:after {
    background-color: initial;
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.button-78:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button-78:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}

.button-78:active:not(:disabled) {
    color: #ccc;
}

.button-78:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
        linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-78:active:not(:disabled):after {
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.button-78:disabled {
    cursor: default;
    opacity: .24;
}

.previous-button {
    font-size:1em;
    padding-left: 0.3em;
    text-align: center;
}

.previous-button:after {
    text-align: center;
    content: "\a\2B05";
}

/* Toasts using Toastify */
.toast-error-message,
.toast-display-message {
    background: var(--colour-darkblue);
    color: var(--colour-white);
    /* 24 px */
    font-size: 1.5em;
    width: 40vw;
    /* 30px 20px */
    padding: 1.875em 1.25em;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

.centre-text {
    text-align: center;
}

.mentor-table {
    border: 2px solid teal;
    border-collapse: collapse;
    /* 25px */
    margin: 1.563em 0;
    font-size: 1.6em;
    font-family: sans-serif;
    /* 20px */
    box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.mentor-table thead {
    background-color: #009879;
    color: var(--colour-white);
    text-align: left;
}

.mentor-table th,
.mentor-table td {
    /* 12px 15px; */
    padding: 0.75em 0.938em;
}

.mentor-table tbody tr:last-of-type {
    /* 2px */
    border-bottom: 0.125em solid #009879;
}

.mentor-table tr {
    border: 0px;
    border-bottom: 2px solid teal;
}

/* Zebra Striping - lemonchiffon */
.mentor-table tr:nth-child(even) {
    background: #FFFACD;
}

.clickable-row {
    cursor: pointer;
    height: 40px;
}

.clickable-row:hover {
    background-color: aquamarine;
}

.selected,
.selected:hover {
    background-color: aqua;
}

.flex-container {
    display: flex;
    align-items: stretch;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
    padding:0 1em 0em 1em;
}

.flex-child:first-child {
    margin-right: 20px;
}

.display-flex-column-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.scroll {
        height: 680px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: justify;
}

.VISIBLE {
    visibility: visible
}

.HIDDEN {
    visibility: hidden
}

.feedbacks-display-flex {
    display: flex;
    justify-content: space-around;
}

.feedbacks-goal-attribute {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.4em;
    color: var(--attribute-colour);
}

.feedbacks-show-plan {
    color: var(--colour-white);
 }

.feedback-display-table {
    border: 2px solid teal;
    border-collapse: separate;
    border-spacing: 0 15px;
    /* 25px */
    margin: 1.563em 1em;
    font-size: 1.2em;
    font-family: sans-serif;
    /* 20px */
    box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.15);
}

.feedback-display-table thead {
    background-color: #009879;
    color: var(--colour-white);
    text-align: left;
}

.feedback-display-table tbody tr:last-of-type {
    /* 2px */
    border-bottom: 0.125em solid #009879;
}

.feedback-display-table tr {
    border: 0px;
    border-bottom: 2px solid teal;
}

.table-fixed-length {
    table-layout: fixed;
}

.table-show-date {
    padding-left:0.4em;
}

.column1-display {
    text-align: left;
    padding-left: 0.4em;
}

.td-centre {
    text-align: center;
}

/* That is, columns 2 and 4 */
.feedback-display-table th:nth-of-type(even) {
    text-align: center;
}

.feedback-display-table th:nth-of-type(3) {
    padding-left: 1em;
}

.feedback-display-table th:nth-of-type(5) {
    text-align: center;
}

.overlay-grid-container {
    display: grid;
}

.non-overlay-content,
.overlay-content {
    grid-area: 1 / 1;
    z-index:1;
}

.OVERLAY-VISIBLE {
    visibility: visible
}

.OVERLAY-HIDDEN {
    visibility: hidden
}

.overflow-hidden {
    overflow: hidden;
}