@media only screen and (min-width: 496px) {
    .heading {
        font-size: 1.8rem;
        max-width: 350px;
    }
    .flex-icons{
      display: flex;
      justify-content: center;
      max-width: 500px;
      margin: auto;
      gap: 100px;
    }

}

@media only screen and (min-width: 864px) {

    .flex {
        display: flex;
        width: 600px;
        margin: auto;
    }
    .header-flex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        margin: 0 30px;
        width: 100%;
    }   

    .header-img {
        width: 50%;
    }
}
