.menu{
    display: grid;
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
/* gap: 20px; */
margin: auto;

/* box-sizing:border-box; */
grid-template-areas: "all drafts"
"sent new";
gap: 10px;
}

 .all, .drafts, .sent, .new {
width: 60px;
height: 45px;
border: 1px solid blue;
border-style: none;
color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius:50%;
font-weight: 600;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.all {
    grid-area: all;
    background-color: rgb(106, 210, 95);
    /* margin: -10px; */

}

.new{
    grid-area: new;
    background-color: rgb(246, 199, 72);
    
}

.sent{
    grid-area: sent;
    background-color: rgb(67, 80, 194);
}
.drafts{
    grid-area: drafts;
    background-color: rgb(204, 98, 98);
}